@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Kalam&display=swap");
.card {
  padding: 10px 10px 10px 10px;
  height: 250px;
  border: none;
  -webkit-box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
  -moz-box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
  box-shadow: 0px 1px 9px 3px rgba(219, 210, 219, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6366;
}
/* contact */
.wrapper {
  max-width: 88vw;
  margin: 50px auto;
  height: 600px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 5px 25px 35px #3535356b;
}

.wrapper .bg-yellow {
  background-color: #ff6366;
  height: 100%;
  width: 40%;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 20px;
}

.wrapper .bg-yellow .text-white {
  font-size: 3rem;
}

.wrapper .bg-yellow .cursive {
  font-family: "Kalam", cursive;
  font-size: 1rem;
  font-weight: 600;
}

.wrapper .contact-form {
  width: 100%;
  padding: 40px 80px 40px 50px;
}

.wrapper .contact-form .h3 {
  padding-top: 15px;
  font-weight: 700;
}

.wrapper .contact-form label {
  font-size: 0.9rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 10px;
}

.wrapper .contact-form textarea {
  height: 120px;
}

.wrapper .contact-form .form-control {
  background-color: #e7e7e7;
  box-shadow: none;
  font-weight: 600;
  font-size: 0.95rem;
  border: none;
  border-top: 1px solid #bbb;
}

.wrapper .contact-form .btn {
  font-size: 1.2rem;
  font-weight: 700;
}

.wrapper .contact-form .btn.btn-default {
  color: #ff6366;
}

.wrapper .contact-form .btn.btn-primary {
  background: #ff6366;
  border: none;
  padding: 8px 18px;
  box-shadow: 0 8px 12px #3535356b;
}

.wrapper .contact-form .btn.btn-primary:hover {
  background-color: #f50056e5;
}

.modal .modal-content .modal-header .fas {
  color: #f50057;
}

@media (max-width: 900.5px) {
  .wrapper {
    margin: 20px;
  }
}

@media (max-width: 575.5px) {
  .wrapper .contact-form {
    padding: 40px;
  }

  .wrapper .bg-yellow {
    padding-left: 30px;
  }
}

@media (max-width: 496px) {
  .wrapper .bg-yellow {
    display: none;
  }
}

@media (max-width: 350px) {
  .wrapper {
    height: 570px;
  }

  .wrapper .contact-form {
    padding: 20px;
  }
}
.bg {
  background-color: #f9ebec;
}
.env {
  font-size: 100px;
}
.icon {
  font-size: 50px;
  color: white;
  padding-bottom: 10px;
}
