.body {
  background-color: #ebf5fb;
}
.h-text {
  font-size: 70px;
}
.h-desc {
  font-size: 20px;
}
.h-btn {
  padding: 10px 30px 10px 30px;
  align-items: center;
  justify-content: center;
  border-style: none;
  border: 1px solid red;
  border-radius: 15% 15% 15% 15%;
}
.cp-img {
  height: 10vh;
  width: 20vw;
}
