@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

.h-text {
  font-size: 6vw;
  font-family: "Abril Fatface";
}
.h-desc {
  font-size: 20px;
}
.h-btn {
  padding: 10px 30px 10px 30px;
}
.cp-img {
  height: 80vh;
  width: 60vw;
}
